<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>My Blog Post</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
      }

      header {
        background-color: #333;
        color: #fff;
        padding: 10px 0 0 0;
        text-align: center;
      }

      h1 {
        font-size: 36px;
      }
      nav {
        background-color: #444;
        padding: 20px 0;
      }

      nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;
      }

      nav ul li {
        display: inline;
        margin-right: 20px;
      }
      nav ul li a {
        text-decoration: none;
        color: white;
      }
      .blog-content {
        max-width: 800px;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }

      .blog-content h4 {
        font-size: 18px;
        color: #333;
      }

      .blog-content p {
        font-size: 16px;
      }

      .blog-content img {
        max-width: 100%;
        height: auto;
      }
      .post-footer {
        margin: 20px 0;
        font-style: italic;
      }
      button {
        border: none;
        padding: 10px 15px;

        background-color: rgb(255, 46, 46);
        border-radius: 5px;
      }
      button a {
        text-decoration: none;
        color: white;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>My Blog Post</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </header>

    <div class="blog-content">
      <h2><%- blogPage[0].title %></h2>
      <h4><%- blogPage[0].subTitle %></h4>
      <p><%- blogPage[0].description %></p>
      <div class="post-footer">
        Published on <%- blogPage[0].createdAt.toISOString().slice(0,10) %>
      </div>
      <button>
        <a href="/deleteBlog/<%- blogPage[0].id %>" class="button">Delete</a>
      </button>
    </div>
  </body>
</html>
