<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>My Blog Post</title>
    <link rel="stylesheet" href="/css/detail.css" />
  </head>
  <body>
    <header>
      <h1>My Blog Post</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </header>

    <div class="blog-content">
      <h2><%- blogPage[0].title %></h2>
      <h4><%- blogPage[0].subTitle %></h4>
      <p><%- blogPage[0].description %></p>
      <div class="post-footer">
        Published on <%- blogPage[0].createdAt.toISOString().slice(0,10) %>
      </div>
      <button class="delete">
        <a href="/deleteBlog/<%- blogPage[0].id %>" class="button">Delete</a>
      </button>
      <button class="update">
        <a href="/editBlog/<%- blogPage[0].id %>" class="buttons">Update</a>
      </button>
    </div>
  </body>
</html>
